h1 {
    font-size: 3rem;
    padding: 50px;
}

.container {
    display:flex;
}

.add-tasks {
    align-items: center;
    background-color: #3b3355;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    width: 25vw;
}

.add-task-form {
    background-color: #bfcde0;
    border: 3px solid #000505;
    border-radius: 15px;
    margin: 25px;
    padding: 30px;
    position: fixed;
    width: 15vw;
}

.add-task-form label {
    font-size: 1.5rem;
}

.add-task-form input{
    font-size: 1.2rem;
    padding:5px;
    margin-top: 15px;
    width: 100%;
}

.add-task-form button {
    background-color: #5d5d81;
    color: #fefcfd;
    margin: 30px;
}

.open-tasks {
    align-items: center;
    background-color: #5d5d81;
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.open-task {
    background-color: #bfcde0;
    border: 2px solid #75a3e2;
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 15px;
    transition: background-color .2s ease;
}

.open-task:hover {
    background-color: #5f94df;
    border: 2px solid #2770d6;
}

.selected-task {
    background-color: #5f94df;
}

.task-buttons {
    background-color: #bfcde0;
    border: 2px solid #75a3e2;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin: 5px;
    transform: scale(0);
    transition: transform .2s ease-in-out;
}

.task-btn {
    text-align: center;
    padding: 10px 10px;
}

.show-buttons {
    transform: scale(1);
}
.completed-tasks {
    align-items: center;
    background-color: #bfcde0;
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.completed-task {
    background-color: #bfcde0;
    border: 2px solid #75a3e2;
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 15px;
    text-decoration: line-through;
}
