* {
    background-color: rgb(116, 116, 231);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}

#question-list {
    display: flex;
    /* flex-direction: column; */
}

