.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    /* width: 680px; */
    height: 500px;
}

.item {
    margin-bottom: 15px;
}

.item1 {
    margin-top: 50px;
    padding: 20px;
}

#cookie-jar {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

ul {
    list-style-type: none;
}

li {
    margin: 15px;
}

.gimme-btn {
    border: 1px solid black;
    padding: 5px;
}

.gimme-btn:hover {
    background-color: black;
    border: 1px solid white;
    color: white;
}

.mofo {
    color: #f3bb7c;
    font-family: sans-serif;
    font-size: 2rem;
    text-shadow: 0 0 10px #ad5f06;
}