.map-container {
    align-items: center;
    background-color: #16302b;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.map {
    background-color: #eaeaea;
    border-radius: 50%;
    height: 90vh;
    margin: 25px;
    max-height: 90vw;
    max-width: 90vh;
    width: 90vw;
}

