.map-container {
    align-items: center;
    background-color: #16302b;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    width: 100vw;
}

#map {
    background-color: #eaeaea;
    border: 10px solid #85b79d;
    height: 90vh;
    margin: 20px;
    max-height: 90vw;
    max-width: 90vh;
    width: 90vw;
}

.leaflet-control-attribution.leaflet-control{
    display: none;
}

.weather-info {
    align-items: center;
    background-color: #85b79d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}